@import "vars"
@import "fonts"
@import "libs"

/*==========  user style  ==========*/
body
	color: #ffffff
	font-family: $default-font
a
	&:link
		color: $color-text
	&:visited
		color: $color-text
	&:hover
		color: $color-text
		text-decoration: none
	&:active
		color: $color-text

header
	padding: 30px 0
	.navigation
		position: relative
		z-index: 999999
.logo
	width: 130px
	img
		width: 100%
.top-nav
	color: $color-text
	font-size: 18px
	ul
		list-style: none
		margin: 0
		padding: 0
		li:not(:first-child)
			margin-left: 35px
		a
			display: block
			&:hover
				background: linear-gradient(to right,$color-1, $color-2)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent

.contact-info
	.phone
		font-weight: bold
	.social
		color: $color-1
		list-style: none
		margin: 0
		padding: 0
		font-size: 18px
		li
			margin-left: 18px
		i
			transition: .2s
		a
			color: inherit
			&:hover i
				transform: scale(1.2)

.company-name
	background: #fff url('../img/slider-1.png') no-repeat
	background-size: cover
	height: 100vh
	margin-top: -50px
	.container
		height: inherit
		.row
			height: inherit
	.company-name-wrap
		text-align: center
		flex: 1
		text-transform: uppercase
		h1
			background: linear-gradient(to right,$color-1, $color-2)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
			font-size: 4.5em
			line-height: 1
		p
			color: #a366ff
			font-size: 1.9em
		h1,p
			font-weight: 800
/*==========  user style  ==========*/

/*==========  custom style  ==========*/


/*==========  custom style  ==========*/

@import "media" // Always at the end